:root{
  --myBbackgroundColor: rgb(236, 236, 236); 
  --ourFont: font-family: 'Times New Roman', Times, serif;;
  --width: 1000px;
  --halfScale: 2
}

body {
  background-color: var(--myBbackgroundColor);
}

p{
  font-family: var(--ourFont);
}

#wrapper{
  width: var(--width);
  margin: auto;  
}

.fullSizePic{
  width: calc(var(--width));
}

.halfSizePic{
  margin: 0%;
  width: calc(var(--width)/2);
}

.twoPxRoundConrs{
  border-radius: 2px;
}