:root{
  --mBbackgroundColor: rgb(236, 81, 81);
}

body {
  background-color: var(--mBbackgroundColor);

}

.test{
  
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#wrapper{
    margin-left: auto;
}